boto3==1.12.4
botocore==1.15.4
coverage==5.0.3
docutils==0.15.2
ecdsa==0.15
enum34==1.1.6
ikp3db==1.4.1
jmespath==0.9.4
peewee==3.13.1
psycopg2-binary==2.8.4
pyasn1==0.4.8
python-dateutil==2.8.1
python-jose==3.1.0
rsa==4.7
six==1.14.0
urllib3==1.25.8
